/* Main Style */

/* Body Style */
BODY {
  font-family: 'Open Sans',arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
  background-color: #000000;
  color: #fff;
}

#resume {
  width: 100%;
  max-width: 1200px;
  margin:0 auto;
}

/* Name Style */
#name {
  font-size: 3em;
  text-transform:uppercase;
  text-align: center;
  color: #33485e;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin:0 auto;
}

/* Title Style */
strong {
  color: #33485e
  text-transform:uppercase;
  font-size: 1.5em;
}

/* Section Title Style */
.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #4800E3;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  min-width: 300px;
  padding-left: 5px;
  padding-top: 6px;
  padding-bottom: 5px;
}

/* Job Title Style */
h3 {
  font-size: 1.5em;
  font-weight: 600;
}

/* Job Organization Style */
.organization {
  font-size: 1.25em;
  font-weight: 400;
}

/* Job Dates Style */
.date {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
}

/* Description Style */
.description {
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-right: 0;
  margin-left: 0;
}

.menu {
  padding: 0;
  margin: 0;
  display: inline;
  text-align: center;
}



#degrees{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0;
  margin-left: 0;
}

#do{
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 0;
  margin-left: 0;
  padding-bottom: 45px;
  background-color: #000000;
  color: #fff;
}

#title{
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 0;
  margin-left: 0;
}

#top{
  margin:0 auto;
  margin-bottom: 30px;
  width: 60%;
  min-width: 300px;
}

.row2 {
  padding-bottom: 10px;
  padding-top: 6px;
  background-color: #000000;
  color: #fff;
}

.row3 {
  padding-bottom: 25px;
  padding-top: 6px;
  background-color: #000000;
  color: #fff;
}

.row {
  padding-bottom: 25px;
  padding-top: 6px;
  background-color: #000000;
  color: #fff;
  width: 106%;

}
