/* Main Style */

/* Headline Style */
.headline {
  font-family: 'Open Sans',arial, sans-serif;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}


.byline {
  font-size: 1em;
  text-transform:uppercase;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: georgia, serif;
  line-height: 180%;
}

.caption {
  font-size: 1em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.footer{
  text-align: center;
  background-color: #000000;
  color: #fff;
  margin-top: 100%;
}

.chapter{
  font-family: georgia, serif;
  line-height: 200%;
  font-size: 2em;
  text-align: left;
}
