#content {
  margin: 0 auto;
  width: 1300px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  background-color: black;
  color: #fff;

}


#byline {
font-family: Helvetica, sans-serif;
font-size: 10px;
font-style: italic;
margin-top: 0px;

}

h1 {
font-family: Georgia, serif;
font-size: 28px;
}

/* Caption Style */
.caption {
  font-size: 6px;
  font-weight: 400;
}

/* Source Style */
.source {
  margin-top: 2px;
  margin-bottom: 25px;
  margin-right: 0;
  margin-left: 0;
  font-size: 10px;
}

#graphic {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 160px;
  margin-right: 60px;
}

blockquote {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 60;
  margin-right: 60;
  color: red;
  font-style: oblique;
  font: 16/24px normal helvetica, sans-serif;
  padding-left: 105px;
  border-right: 2px solid #ccc;
  font-size: 35px;
}

h2{
  padding-bottom: 15px;
  padding-top: 15px;
}

#mainphoto{
text-align: left;
image-orientation: center;
}

#photos{
text-align: left;
image-orientation: center;
padding-top: 15px;
margin-left: 400px;
margin-right: 60px;
}

h3{
  font-family: Georgia, serif;
  font-size: 23px;
  padding-top: 25px;
  margin-top: 25px;
}
