#content {
  margin: 0 auto;
  width: 900px;
  font-family: Georgia, serif;
  font-size: 13px;
}


#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
margin-top: 2px;
margin-bottom: 10px;
margin-right: 0;
margin-left: 0;
}

h1 {
font-family: Georgia, serif;
font-size: 25px;
}

/* Caption Style */
.caption {
  font-size: 6px;
  font-weight: 400;
}

/* Source Style */
.source {
  margin-top: 2px;
  margin-bottom: 15px;
  margin-right: 0;
  margin-left: 0;
  font-size: 10px;
}

.graphic1 {
  font-size: 13px;
  font-weight: 900;
  font-style: bold;
}

.graphic2 {
  font-size: 13px;
  font-weight: 200;
}
