#content {
  margin: 0 auto;
  width: 900px;
  font-family: Georgia, serif;
  font-size: 13px;
}


#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

h1 {
font-family: Georgia, serif;
font-size: 20px;
}

/* Caption Style */
.caption {
  font-size: 12px;
  font-weight: 400;
}

/* Source Style */
.source {
  margin-top: 2px;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
  font-size: 12px;
}
